body{
    
    color: #40514E;
    margin: 0px;
    text-align: center;
    line-height: 2;
    font-family: 'Merriweather', serif;
    margin: auto;
    width: 100%;
}

.top-container{
    position: relative;
    padding-top: 100px;
    height: 850px;
    background-color: #C8E3D4;
}

.middle-container{
    margin-top: 60px;
    width: 100%;
}

#name{
    font-size: 3.5rem;
}

.bottom-cloud{
    position: absolute;
    /* height: 65px; */
    width: 15%;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}

h2{
    color: #66BFBF;
    font-weight: normal;
    font-size:2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #05383a;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: #eaf6f6;
}
.head{
    margin: none;
    font-size: 1.25rem;
}

.mountain{
    /* height: 480px; */
    width: 50%;
}

.top-cloud{
    position: absolute;
    right: 18%;
    top: 30px;
    /* height: 65px; */
    width: 15%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 170px auto;
    text-align: left;
}

.dsaic{
    border-radius: 50%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.webdevgif{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
    width: 25%;
}

.footer-text{
    color: #EAF6F6;
}

hr{
    /* border-style: dotted; */
    border: none;
    border-top: 5px dotted #EAF6F6;
    width: 5%;
    /* border-color: #EAF6F6; */
}

.getintouch{
    font-size: 2.3rem;
    margin-top: 45px;
    margin-bottom: 0px;

}

.getintouch-content{
    margin-top: 10px;
    margin-bottom: 25px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 20px 0px 55px 0px;
    margin-top: 80px;
    height: 30px;
}

.contact-me-button {
    background: #00F8FF;
    background-image: -webkit-linear-gradient(top, #00F8FF, #009295);
    background-image: -moz-linear-gradient(top, #00F8FF, #009295);
    background-image: -ms-linear-gradient(top, #00F8FF, #009295);
    background-image: -o-linear-gradient(top, #00F8FF, #009295);
    background-image: -webkit-gradient(to bottom, #00F8FF, #009295);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-weight: 100;
    padding: 8px;
    -webkit-box-shadow: -2px 1px 20px 0 #0059A0;
    -moz-box-shadow: -2px 1px 20px 0 #0059A0;
    box-shadow: -2px 1px 20px 0 #0059A0;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /* text-align: center; */
    height: 22px;
 }
 
 .contact-me-button:hover {
    border: solid #009295 1px;
    background: #009295;
    background-image: -webkit-linear-gradient(top, #009295, #00F8FF);
    background-image: -moz-linear-gradient(top, #009295, #00F8FF);
    background-image: -ms-linear-gradient(top, #009295, #00F8FF);
    background-image: -o-linear-gradient(top, #009295, #00F8FF);
    background-image: -webkit-gradient(to bottom, #009295, #00F8FF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 11px;
    text-decoration: none;
 }

 .profile{
     width: 50%;
     margin: 0px auto;
 }

 #skills{
     margin-top: 60px;
 }

 @media screen and (max-width: 500px) {

    body{
        line-height: 1.5;
    }

    .bottom-cloud{
        width: 35%;
        right: 63%;
        top: 46%;
    }

    .top-cloud{
        width: 35%;
        top: 9%;
        left: 63%;
    }
    .mountain{
        width: 90%;
        margin-top: 35px;
    }

    .top-container{
        height: 512px;
    }

    .middle-container{
        width: 300px;
        margin: 50px auto;
    }

    #name{
        font-size: 2.5rem;
        margin-bottom: 30px;
    } 
    #name-sub{
        font-size: 1.1rem;
        margin-top: 0px;
        margin-bottom: 45px;
    }

    .dp{
        width: 50%;
    }

    .webdevgif{
        width: 35%;
    }

    .dsaic{
        width: 35%;
    }

    .profile{
        width:250px;
    }

    .skill-row{
        line-height: 1.5;
        width: 250px;
    }
    .getintouch{
        margin-top: 0px;
    }

    hr{
        width: 25%;
    }
 }

 @media screen and (max-width: 350px){
    .bottom-cloud{
        width: 35%;
        right: 63%;
        top: 44%;
    }

    #name{
        font-size: 2.1rem;
        margin-bottom: 30px;
    } 
    #name-sub{
        font-size: 0.9rem;
        margin-top: 0px;
        margin-bottom: 45px;
    }
}

@media  screen and (min-width: 900px) {
    .bottom-cloud {
        position: absolute;
        height: 65px;
        width: 20%;
        left: 5%;
        top: 39%;
    }

    .top-cloud {
        right: 6%;
        top: 45px;
        height: 65px;
        width: 20%;
    }
    .mountain{
        width: 80%;
        margin-top: 35px;
    }
    #name{
        font-size: 4.9rem;
        margin-bottom: 0px;
    }
    #name-sub{
        font-size:2rem;
        margin-top: 0px;
    }
}
